// VARIAVEIS DE CORES

$primary: #00c4b3; // Verde
$secondary: #0a2141; // Azul escuro
$light-gray: #b4b9b5; // Cinza claro
$dark-gray: #6b6b6f; // Cinza escuro
$white: #ffffff; // Branco
$black: #000000; // Preto

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}