<div class="form-container">
  <p class="title">Login</p>
  <form class="form">
    <div class="input-group">
      <label for="username">Usuário</label>
      <input type="text" name="username" id="username" placeholder="" />
    </div>
    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" placeholder="" />
      <div class="forgot">
        <a rel="noopener noreferrer" href="#">Esqueceu a senha ?</a>
      </div>
    </div>
    <button class="sign">Logar</button>
  </form>
  <!-- <div class="social-message">
    <div class="line"></div>
    <p class="message">Login com contas sociais!</p>
    <div class="line"></div>
  </div> -->
  <!-- <div class="social-icons">
    <button aria-label="Login com Google" class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        class="w-5 h-5 fill-current"
      ></svg>
    </button>
    <button aria-label="Log in with Twitter" class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        class="w-5 h-5 fill-current"
      ></svg>
    </button>
    <button aria-label="Log in with GitHub" class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        class="w-5 h-5 fill-current"
      ></svg>
    </button>
  </div> -->
  <p class="signup">
    Não tem conta?
    <a rel="noopener noreferrer" href="#" class="">Cadastre-se</a>
  </p>
</div>
